<template>
    <div class="cntr">
        <aside id="records">
             <div class="box-cntr">
                <div class="flex-cntr flex-spacebetween box-title">
                    <h2>
                        <i class="fa fa-line-chart"></i>
                        <span>بيانات جديدة</span>
                    </h2>
                </div>
                <div class="box-content">
                    <div class="alert alert-danger alert-empty">الرجاء تعبئة الحقول المطلوبة!</div>
                    <div class="alert alert-danger alert-existing">يوجد بيانات مضافة بنفس الاسم!</div>
                    <div class="alert alert-success alert-create">تم إنشاء بيانات جديدة بعنوان : {{ newRecord.Title }}</div>
                    <form id="createRecord" class="form-cntr" method="POST">
                        <div class="field">
                            <label>اسم البيانات</label>
                            <input type="text" name="title" class="input validation" placeholder="اسم الرتبة الجديدة" required/>
                        </div>
                        <div class="field">
                            <label>المؤشر</label>
                            <input type="text" name="value" class="input validation" placeholder="يقبل قيم رقمية وعشرية" required/>
                        </div>
                        <div class="field">
                            <label>الوحدة</label>
                            <select name="unit" class="input validation" v-if="loadingUnits">
                                <option>جاري تحميل البيانات ...</option>
                            </select>
                            <select name="unit" class="input validation" v-if="loadedDataUnits">
                                <option v-for="unit in units" :value="unit.ID">{{ unit.Title }}</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>الفئة</label>
                            <select name="category" class="input validation" v-if="loadingCategories">
                                <option>جاري تحميل البيانات ...</option>
                            </select>
                            <select name="category" class="input validation" v-if="loadedDataCategories">
                                <option v-for="category in categories" :value="category.ID">{{ category.Title }}</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>الرتبة</label>
                            <select name="rank" class="input validation" v-if="loadingRanks">
                                <option>جاري تحميل البيانات ...</option>
                            </select>
                            <select name="rank" class="input validation" v-if="loadedDataRanks">
                                <option v-for="rank in ranks" :value="rank.ID">{{ rank.Title }}</option>
                            </select>
                        </div>
                        <div class="flex-cntr flex-end field field_btn">
                            <input type="submit" v-on:click.prevent="createData" class="btn" value="حفظ">
                        </div>
                    </form>
                    <div id="LoadingAction">
                        <img src="/static/interface/images/cube-5663ab.svg">
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                loadingUnits: true,
                loadedDataUnits: false,
                loadingCategories: true,
                loadedDataCategories: false,
                loadingRanks: true,
                loadedDataRanks: false,
                units: {},
                categories: {},
                ranks: {},
                newRecord: {
                    Title : null
                }
            }
        },
        created: function() {
            this.fetchData()
        },
        methods: {
            fetchData: function() {
                var self = this
                
                self.loadingUnits = true;
                self.loadedDataUnits = false;
                self.loadingCategories = true;
                self.loadedDataCategories = false;
                self.loadingRanks = true;
                self.loadedDataRanks = false;

                axios.post('/api/units/all')
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.units = response.data.Units;
                        self.loadingUnits = false
                        self.loadedDataUnits = true
                    }
                })
                .catch(function (error) {
                    location.reload();
                });

                axios.post('/api/categories/all')
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.categories = response.data.Categories;
                        self.loadingCategories = false
                        self.loadedDataCategories = true
                    }
                })
                .catch(function (error) {
                    location.reload();
                });

                axios.post('/api/ranks/all')
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.ranks = response.data.Ranks;
                        self.loadingRanks = false
                        self.loadedDataRanks = true
                    }
                })
                .catch(function (error) {
                    location.reload();
                });
            },
            createData: function() {
                self = this;
                var isValid = true;
                var isEmpty = this.$options.filters.checkEmpty($("input.validation"), $("#records .alert-empty"));
                    
                $("#records .alert-create").fadeOut();

                if (isEmpty) {
                    $("#records .alert-existing").fadeOut();
                    isValid = false;
                }

                if (isValid) {
                    $("#records .box-content > *").hide();
                    $("#LoadingAction").fadeIn();

                    axios.post('/api/records/record/create', $("#createRecord").serialize())
                    .then(function (response) {
                        if (response.data.StatusCode == "200#2") {
                            $("#LoadingAction").hide()
                            $("#records .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#records .alert-existing").fadeIn();
                        }
                        if (response.data.StatusCode == "200#1") {
                            self.newRecord = response.data.Record;
                            $('#createRecord input.input').val('');
                            $("#LoadingAction").hide();
                            $("#records .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#records .alert-create").fadeIn();
                        }
                    })
                    .catch(function (error) {
                        location.reload();
                    });
                }
            }
        },
        watch: {
            '$route': 'fetchData'
        },
    }
</script>
