<template>
    <div class="cntr">
        <aside id="records">
             <div class="box-cntr">
                <div class="flex-cntr flex-spacebetween box-title">
                    <h2>
                        <i class="fa fa-line-chart"></i>
                        <span>تعديل بيانات</span>
                    </h2>
                </div>
                <div class="box-content">
                    <div class="alert alert-danger alert-empty">الرجاء تعبئة الحقول المطلوبة!</div>
                    <div class="alert alert-danger alert-existing">يوجد بيانات مضافة بنفس الاسم!</div>
                    <div class="alert alert-danger alert-notFound">البيانات المطلوبة غير موجودة!</div>
                    <div class="alert alert-success alert-update">تم تعديل البيانات بنجاح</div>
                    <form id="updateRecord" class="form-cntr" method="POST" v-if="loadedDataRecord">
                        <div class="field">
                            <label>اسم البيانات</label>
                            <input type="text" name="title" class="input validation" placeholder="اسم البيانات الجديدة" :value="record.Title" required/>
                        </div>
                        <div class="field">
                            <label>المؤشر</label>
                            <input type="text" name="value" class="input validation" placeholder="يقبل قيم رقمية وعشرية" :value="record.Value" required/>
                        </div>
                        <div class="field">
                            <label>الوحدة</label>
                            <select name="unit" class="input validation" v-if="loadingUnits">
                                <option>جاري تحميل البيانات ...</option>
                            </select>
                            <select name="unit" class="input validation" v-if="loadedDataUnits">
                                <option v-for="unit in units" :value="unit.ID" :selected="unit.ID == record.UnitID ? true : false">{{ unit.Title }}</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>الفئة</label>
                            <select name="category" class="input validation" v-if="loadingCategories">
                                <option>جاري تحميل البيانات ...</option>
                            </select>
                            <select name="category" class="input validation" v-if="loadedDataCategories">
                                <option v-for="category in categories" :value="category.ID" :selected="category.ID == record.CategoryID ? true : false">{{ category.Title }}</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>الرتبة</label>
                            <select name="rank" class="input validation" v-if="loadingRanks">
                                <option>جاري تحميل البيانات ...</option>
                            </select>
                            <select name="rank" class="input validation" v-if="loadedDataRanks">
                                <option v-for="rank in ranks" :value="rank.ID" :selected="rank.ID == record.RankID ? true : false">{{ rank.Title }}</option>
                            </select>
                        </div>
                        <div class="flex-cntr flex-end field field_btn">
                            <input type="submit" v-on:click.prevent="updateData" class="btn" value="حفظ">
                        </div>
                    </form>
                    <div id="LoadingData" v-if="loadingRecord">
                        <img src="/static/interface/images/cube-5663ab.svg">
                    </div>
                    <div id="LoadingAction">
                        <img src="/static/interface/images/cube-5663ab.svg">
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data: function () {
            return {
                loadingRecord: false,
                loadedDataRecord: false,
                loadingUnits: true,
                loadedDataUnits: false,
                loadingCategories: true,
                loadedDataCategories: false,
                loadingRanks: true,
                loadedDataRanks: false,
                record: {},
                units: {},
                categories: {},
                ranks: {}
            }
        },
        created: function() {
            this.fetchData()
        },
        methods: {
            fetchData: function() {
                var self = this

                self.loadingRecord = true
                self.loadedDataRecord = false;
                self.loadingUnits = true;
                self.loadedDataUnits = false;
                self.loadingCategories = true;
                self.loadedDataCategories = false;
                self.loadingRanks = true;
                self.loadedDataRanks = false;

                axios.post('/api/records/record/' + self.id)
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.record = response.data.Record;
                        self.loadingRecord = false
                        self.loadedDataRecord = true
                    }
                    if (response.data.StatusCode == "200#2") {
                        $("#records .box-content > *").hide();
                        $("#records .alert-notFound").fadeIn();
                        self.loadingRecord = false
                        self.loadedDataRecord = false
                    }
                })
                .catch(function (error) {
                    location.reload();
                });

                axios.post('/api/units/all')
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.units = response.data.Units;
                        self.loadingUnits = false
                        self.loadedDataUnits = true
                    }
                })
                .catch(function (error) {
                    location.reload();
                });

                axios.post('/api/categories/all')
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.categories = response.data.Categories;
                        self.loadingCategories = false
                        self.loadedDataCategories = true
                    }
                })
                .catch(function (error) {
                    location.reload();
                });

                axios.post('/api/ranks/all')
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.ranks = response.data.Ranks;
                        self.loadingRanks = false
                        self.loadedDataRanks = true
                    }
                })
                .catch(function (error) {
                    location.reload();
                });
            },
            updateData: function() {
                self = this;
                var isValid = true;
                var isEmpty = this.$options.filters.checkEmpty($("input.validation"), $("#records .alert-empty"));
                    
                $("#records .alert-update").fadeOut();

                if (isEmpty) {
                    $("#records .alert-existing").fadeOut();
                    isValid = false;
                }

                if (isValid) {
                    $("#records .box-content > *").hide();
                    $("#LoadingAction").fadeIn();

                    axios.post('/api/records/record/' + self.id + '/update', $("#updateRecord").serialize())
                    .then(function (response) {
                        if (response.data.StatusCode == "200#2") {
                            $("#LoadingAction").hide()
                            $("#records .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#records .alert-existing").fadeIn();
                        }
                        if (response.data.StatusCode == "200#1") {
                            self.rank = response.data.Rank;
                            $("#LoadingAction").hide()
                            $("#records .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#records .alert-update").fadeIn();
                        }
                    })
                    .catch(function (error) {
                        location.reload();
                    });
                }
            }
        },
        watch: {
            '$route': 'fetchData'
        },
    }
</script>
