<template>
    <div class="cntr">
        <aside id="records">
             <div class="box-cntr">
                <div class="flex-cntr flex-spacebetween box-title">
                    <h2>
                        <i class="fa fa-line-chart"></i>
                        <span v-if="loading">تفاصيل بيانات : جاري التحميل ..</span>
                        <span v-if="loadedData">تفاصيل بيانات : {{ record.Title }}</span>
                    </h2>
                    <div class="options">
                        <router-link :to="{ path: '/records/record/' + id + '/edit' }" class="btn">
                            <i class="fa fa-edit"></i>
                            <span>تعديل</span>
                        </router-link>
                    </div>
                </div>
                <div class="box-content">
                    <div class="table">
                        <table style="min-width: 0;">
                            <tbody v-if="loading">
                                <tr>
                                    <td colspan="2">
                                        <div id="LoadingData">
                                            <img src="/static/interface/images/cube-5663ab.svg">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-if="loadedData">
                                <tr>
                                    <td>المعرف</td>
                                    <td>{{ record.ID }}</td>
                                </tr>
                                <tr>
                                    <td>الاسم</td>
                                    <td>{{ record.Title }}</td>
                                </tr>
                                <tr>
                                    <td>المؤشر</td>
                                    <td>{{ record.Value }}</td>
                                </tr>
                                <tr>
                                    <td>الوحدة</td>
                                    <td>{{ record.Unit.Title }}</td>
                                </tr>
                                <tr>
                                    <td>الفئة</td>
                                    <td>{{ record.Category.Title }}</td>
                                </tr>
                                <tr>
                                    <td>الرتبة</td>
                                    <td>{{ record.Rank.Title }}</td>
                                </tr>
                                <tr>
                                    <td>أنشئ في تاريخ</td>
                                    <td>{{ record.CreatedAt }}</td>
                                </tr>
                                <tr>
                                    <td>حدث في تاريخ</td>
                                    <td>{{ record.UpdateAt }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data: function () {
            return {
                loading: false,
                loadedData: false,
                record: {}
            }
        },
        created: function() {
            this.fetchData()
        },
        methods: {
            fetchData: function() {
                var self = this

                self.loading = true
                self.loadedData = false;

                axios.post('/api/records/record/' + self.id + '/with-details')
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.record = response.data.Record;
                        self.loading = false
                        self.loadedData = true
                    }
                })
                .catch(function (error) {
                    location.reload();
                });
            }
        },
        watch: {
            '$route': 'fetchData'
        },
    }
</script>
