@font-face {
    font-family: 'ng4asans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ng4asans/ng4asans-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ng4asans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/ng4asans/ng4asans-medium.ttf') format('truetype');
}