<template>
    <div class="cntr">
        <aside id="categories">
             <div class="box-cntr">
                <div class="flex-cntr flex-spacebetween box-title">
                    <h2>
                        <i class="fa fa-tags"></i>
                        <span>الفئات</span>
                    </h2>
                    <div class="options">
                        <router-link :to="{ path: '/categories/create' }" class="btn">
                            <i class="fa fa-plus"></i>
                            <span>إضافة فئة</span>
                        </router-link>
                    </div>
                </div>
                <div class="box-content">
                    <div class="table">
                        <table style="min-width: 0;">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">#</th>
                                    <th>الاسم</th>
                                    <th style="width: 100px;"></th>
                                </tr>
                            </thead>
                            <tbody v-if="loading">
                                <tr>
                                    <td colspan="7">
                                        <div id="LoadingData">
                                            <img src="/static/interface/images/cube-5663ab.svg">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-if="loadedData">
                                <tr v-for="category in categories">
                                    <td>{{ category.ID | firstZero(3) }}</td>
                                    <td>{{ category.Title }}</td>
                                    <td class="flex-cntr flex-end options">
                                        <router-link :to="{ path: '/categories/category/' + category.ID + '/edit' }" class="btn">
                                            <i class="fa fa-edit"></i>
                                            <span>تعديل</span>
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            loading: false,
            loadedData: false,
            categories: {}
        }
    },
    created: function() {
        this.fetchData()
    },
    methods: {
        fetchData: function() {
            var self = this

            self.loading = true
            self.loadedData = false;

            axios.post('/api/categories/all')
            .then(function (response) {
                if (response.data.StatusCode == "200#1") {
                    self.categories = response.data.Categories;
                    self.loading = false
                    self.loadedData = true
                }
            })
            .catch(function (error) {
                location.reload();
            });
        }
    },
    watch: {
        '$route': 'fetchData'
    },
}
</script>
