<template>
    <div class="cntr">
        <aside id="cards-cntr" class="flex-cntr flex-spacebetween cards-4">
            <div class="card">
                <div class="card-header">عدد الإحصائيات</div>
                <div class="card-content">{{ loadedData ? Statistics.Records : '?' }}</div>
            </div>
            <div class="card">
                <div class="card-header">عدد الفئات</div>
                <div class="card-content">{{ loadedData ? Statistics.Categories : '?' }}</div>
            </div>
            <div class="card">
                <div class="card-header">عدد الرتب</div>
                <div class="card-content">{{ loadedData ? Statistics.Ranks : '?' }}</div>
            </div>
            <div class="card">
                <div class="card-header">عدد الوحدات</div>
                <div class="card-content">{{ loadedData ? Statistics.Units : '?' }}</div>
            </div>
        </aside>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            loading: false,
            loadedData: false,
            Statistics: {}
        }
    },
    created: function() {
        this.fetchData()
    },
    methods: {
        fetchData: function() {
            var self = this

            self.loading = true
            self.loadedData = false;

            axios.post('/api/dashboard/statistics')
            .then(function (response) {
                if (response.data.StatusCode == "200#1") {
                    self.Statistics = response.data.Statistics;
                    self.loading = false
                    self.loadedData = true
                }
            })
            .catch(function (error) {
                location.reload();
            });
        }
    },
    watch: {
        '$route': 'fetchData'
    },
}
</script>
