@charset "UTF-8";

*, html {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    padding: 0;
    margin: 0;

    font-family: 'ng4asans';
    font-size: 14px;
    color: #333;

    direction: rtl;
}

a {
    color: inherit;
    text-decoration: none
}

.cntr {
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto
}

.transition, a, span, i, ::after, ::before, input, textarea {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.no-transition, .no-transition::after, .no-transition::before {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

.flex-cntr {
    display: flex;
    flex-flow: row wrap;
}
    .flex-spacebetween {
        justify-content: space-between;
    }
    .flex-start {
        justify-content: flex-start;
    }
    .flex-end {
        justify-content: flex-end;
    }
    .flex-center {
        justify-content: center;
    }

.alert {
    padding: 8px 8px 8px 20px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    position: relative;
    display: none;
}
	.alert:last-child,
    .alert.alert-no-margin-bottom {
		margin-bottom: 0;
	}
	.alert-show {
		display: block;
	}
	.alert-full {
		width: 100%;
	}
	.alert .close {
		position: absolute;
		top: 10px;
		left: 7px;
		line-height: 18px;
		font-size: 18px;
		cursor: pointer
	}
	.alert-success {
		color: #468847;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}
	.alert-danger {
		color: #b94a48;
		background-color: #f2dede;
		border-color: #eed3d7;
	}
	.alert-warning {
		color: #c09853;
		background-color: #fcf8e3;
		border-color: #fbeed5;
	}
	.alert-info {
		color: #3a87ad;
		background-color: #d9edf7;
		border-color: #bce8f1;
	}

.form-cntr {
    position: relative
}
    .form-cntr .field {
        margin-bottom: 20px;
    }
        .form-cntr .field:last-child {
            margin-bottom: 0 !important;
        }
        .form-cntr .field_group .field {
            margin-left: 20px;
        }
            .form-cntr .field_group .field:last-child {
                margin-left: 0 !important;
            }
    .form-cntr label {
        margin-bottom: 7px;
        display: block;
    }
    .form-cntr .input {
        background: #fff;
        border: 1px solid #e0e0e0;
        font-family: 'ng4asans' !important;
        font-size: 14px;
        color: #8aaa4e;
        width: 100%;
        padding: 8px 12px;
        outline: none;
    }
        .form-cntr .input:focus {
            border-color: #67c2a1;
        }
        .form-cntr .input:disabled {
            background: #f1f1f1;
        }
    .form-cntr .btn {
        background: #67c2a1;
        border: 1px solid #67c2a1;
        border-radius: 4px;
        font-family: 'ng4asans' !important;
        font-size: 14px;
        color: #fff;
        padding: 6px 30px;
        outline: none;
        cursor: pointer;
    }
        .form-cntr .btn:hover {
            background: #5663ab;
            border-color: #5663ab;
        }

.table {
    margin: 13px 0 0;
}
    .table table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }
        .table table > thead > tr {
            border-bottom: 1px solid #eee;
            margin: 0;
        }
            .table table > thead > tr > th {
                font-weight: bold;
                color: #93a2a9;
                padding: 7px 0;
                text-align: right
            }
        .table table > tbody > tr {
            border-bottom: 1px solid #eee;
            margin: 0;
        }
            .table.table-striped table > tbody > tr:nth-of-type(odd) {
                background-color: #f9f9f9;
                border-color: #F2F5F8;
            }
            .table table > tbody > tr:last-child {
                border: 0;
            }
            .table table > tbody > tr > th {
                font-weight: bold;
                color: #93a2a9;
                padding: 7px 0;
                text-align: right
            }
            .table table > tbody > tr > td {
                color: #8896a0;
                padding: 12px 0;
                text-align: right
            }
                .table table > tbody > tr > td .link {
                    border-bottom: 1px dashed #8aaa4e;
                    color: #8aaa4e;
                    display: inline-block;
                }
                .table table > tbody > tr > td .options {
                    font-size: 18px;
                    color: #666;
                    line-height: 18px;
                }
                    .table table > tbody > tr > td .btn {
                        border: 1px solid #ccc;
                        font-size: 13px;
                        color: #666;
                        height: 24px;
                        padding: 4px 15px 5px;
                        margin-left: 10px;
                        line-height: 1;
                        border-radius: 15px;
                    }
                        .table table > tbody > tr > td .btn:last-child {
                            margin-left: 0;
                        }
                        .table table > tbody > tr > td .btn i {
                            margin-left: 5px;
                        }
                        .table table > tbody > tr > td .btn:hover {
                            background: #f1f1f1;
                        }

#LoadingPage {
    background: #5663ab;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#LoadingContent {
    height: calc(100vh - 214px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#LoadingAction {
    width: 100%;
    padding: 40px;
    text-align: center;
    display: none
}
#LoadingData {
    width: 100%;
    padding: 40px;
    text-align: center
}

#header {
    
}
    #header .top {
        padding: 20px 0
    }
        #header .top .logo {
            line-height: 0;
        }
            #header .top .logo img {
                height: 65px;
                line-height: 0
            }
        #header .top .account {
            padding: 18px 0 0;
        }
            #header .top .account a:first-child {
                background: #67c2a1;
                border-radius: 4px;
                color: #fff;
                height: 36px;
                padding: 8px 20px 11px;
                margin-left: 10px;
            }
                #header .top .account a:first-child:hover {
                    background: #333;
                }
            #header .top .account a:last-child {
                background: #5663ab;
                border-radius: 4px;
                color: #fff;
                height: 36px;
                padding: 8px 20px 11px;
            }
                #header .top .account a:last-child:hover {
                    background: #333;
                }
                #header .top .account a i {
                    margin-left: 7px;
                }
    #header .bottom {
        background: #67c2a1
    }
        #header .bottom .menu {
            
        }
            #header .bottom .menu .links {
                list-style: none;
                margin: 0;
                padding: 0;
            }
                #header .bottom .menu .links li {
                    position: relative;
                }
                #header .bottom .menu .links a {
                    font-size: 16px;
                    color: #fff;
                    padding: 15px 20px 15px 17px;
                    display: block;
                }
                    #header .bottom .menu .links:first-child a {
                        padding-left: 20px;
                    }
                    #header .bottom .menu .links a i {
                        margin-left: 5px;
                    }
                        #header .bottom .menu .links:not(:first-child) a i:last-child {
                            margin-left: 0;
                            margin-right: 10px;
                        }
                    #header .bottom .menu .links a:hover, 
                    #header .bottom .menu .links a.active {
                        background: #4cb78b;
                    }
            #header .bottom .menu .submenu {
                background: #4cb78b;
                min-width: 200px;
                list-style: none;
                margin: 0;
                padding: 10px 0;
                position: absolute;
                box-shadow: 0px 4px 5px 0 rgba(0,0,0,0.3);
                display: none;
                z-index: 10;
            }
                #header .bottom .menu .submenu a {
                    font-size: 14px;
                    color: #fff;
                    padding: 10px 20px;
                }
                    #header .bottom .menu .submenu a:hover, 
                    #header .bottom .menu .submenu a.active {
                        background: #67c2a1;
                    }

#content {
    min-height: calc(100vh - 154px);
    padding: 30px 0;
}
    #content.withoutProp {
        min-height: 0;
        padding: 0;
    }
    #content .box-cntr {
        background: #fff;
        border: 1px solid #eee;
        border-radius: 4px;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 20px;
    }
        #content .box-cntr:last-child {
            margin: 0;
        }
        #content .box-cntr .box-title {
            border-bottom: 1px solid #eee;
            padding: 0 0 15px;
            margin: 0 0 15px;
        }
            #content .box-cntr .box-title h2 {
                font-size: 18px;
                color: #666;
                line-height: 18px;
                margin: 0;
            }
                #content .box-cntr .box-title h2 i {
                    margin-left: 5px;
                }
                #content .box-cntr .box-title h2 .help {
                    font-size: 13px;
                    font-weight: normal;
                    color: #9eacb4;
                    line-height: 13px;
                    margin: 0;
                }
            #content .box-cntr .box-title .options {
                font-size: 18px;
                color: #666;
                line-height: 18px;
                margin: -3px 0 0;
            }
                #content .box-cntr .box-title .btn {
                    border: 1px solid #ccc;
                    font-size: 13px;
                    color: #666;
                    height: 24px;
                    padding: 4px 15px 5px;
                    line-height: 1;
                    border-radius: 15px;
                }
                    #content .box-cntr .box-title .btn i {
                        margin-left: 5px;
                    }
                    #content .box-cntr .box-title .btn:hover {
                        background: #f1f1f1;
                    }
    #content #errors-cntr {
        height: calc(100vh - 214px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        #content #errors-cntr .number {
            font-size: 128px;
            color: #5663ab;
            text-align: center
        }
        #content #errors-cntr .message {
            font-size: 28px;
            color: #67c2a1;
            text-align: center
        }
    #content #cards-cntr {
        
    }
        #content #cards-cntr .card {
            
        }
            #content #cards-cntr.cards-4 .card {
                width: calc((100% / 4) - 30px);
            }
            #content #cards-cntr .card .card-header {
                background: #67c2a1;
                font-size: 18px;
                color: #fff;
                padding: 10px 15px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            #content #cards-cntr .card .card-content {
                background: #fff;
                border: 1px solid #e0e0e0;
                border-top: 0;
                font-size: 48px;
                color: #5663ab;
                padding: 20px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                text-align: center;
            }
    #content #sign-in {
        padding-top: calc((100vh - 409px) / 2);
    }
        #content #sign-in .cntr {
            width: 600px;
        }
        #content #sign-in .logo {
            padding-bottom: 30px;
            text-align: center
        }
    #content #sign-out {
        padding-top: calc((100vh - 342px) / 2);
    }
        #content #sign-out .text-bye {
            font-size: 64px;
            color: #5663ab;
            padding-bottom: 20px;
            text-align: center
        }
        #content #sign-out .text-return {
            font-size: 24px;
            color: #67c2a1;
            text-align: center
        }