<template>
    <div class="cntr">
        <aside id="records">
             <div class="box-cntr">
                <div class="flex-cntr flex-spacebetween box-title">
                    <h2>
                        <i class="fa fa-line-chart"></i>
                        <span>الإحصائيات</span>
                    </h2>
                    <div class="options">
                        <router-link :to="{ path: '/records/create' }" class="btn">
                            <i class="fa fa-plus"></i>
                            <span>إضافة بيانات</span>
                        </router-link>
                    </div>
                </div>
                <div class="box-content">
                    <div class="table">
                        <table style="min-width: 0;">
                            <thead>
                                <tr>
                                    <th style="width: 80px;">#</th>
                                    <th>الاسم</th>
                                    <th>المؤشر</th>
                                    <th>الوحدة</th>
                                    <th>الفئة</th>
                                    <th>الرتبة</th>
                                    <th style="width: 200px;"></th>
                                </tr>
                            </thead>
                            <tbody v-if="loading">
                                <tr>
                                    <td colspan="7">
                                        <div id="LoadingData">
                                            <img src="/static/interface/images/cube-5663ab.svg">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-if="loadedData">
                                <tr v-for="record in records">
                                    <td>{{ record.ID | firstZero(6) }}</td>
                                    <td>{{ record.Title }}</td>
                                    <td>{{ record.Value }}</td>
                                    <td>{{ record.Unit.Title }}</td>
                                    <td>{{ record.Category.Title }}</td>
                                    <td>{{ record.Rank.Title }}</td>
                                    <td class="flex-cntr flex-end options">
                                        <router-link :to="{ path: '/records/record/' + record.ID }" class="btn">
                                            <i class="fa fa-info-circle"></i>
                                            <span>تفاصيل</span>
                                        </router-link>
                                        <router-link :to="{ path: '/records/record/' + record.ID + '/edit' }" class="btn">
                                            <i class="fa fa-edit"></i>
                                            <span>تعديل</span>
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                loading: false,
                loadedData: false,
                records: {}
            }
        },
        created: function() {
            this.fetchData()
        },
        methods: {
            fetchData: function() {
                var self = this

                self.loading = true
                self.loadedData = false;

                axios.post('/api/records/all')
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.records = response.data.Records;
                        self.loading = false
                        self.loadedData = true
                    }
                })
                .catch(function (error) {
                    location.reload();
                });
            }
        },
        watch: {
            '$route': 'fetchData'
        },
    }
</script>
