<template>
    <div class="cntr">
        <aside id="me">
             <div class="box-cntr">
                <div class="flex-cntr flex-spacebetween box-title">
                    <h2>
                        <i class="fa fa-cog"></i>
                        <span>تعديل بياناتي</span>
                    </h2>
                </div>
                <div class="box-content">
                    <div class="alert alert-danger alert-empty">الرجاء تعبئة الحقول المطلوبة!</div>
                    <div class="alert alert-success alert-update">تم تعديل البيانات بنجاح</div>
                    <form id="updateMe" class="form-cntr" method="POST" v-if="loadedData">
                        <div class="field">
                            <label>الاسم الكامل</label>
                            <input type="text" name="fullname" class="input validation" placeholder="الاسم الكامل" :value="user.FullName" required/>
                        </div>
                        <div class="field">
                            <label>اسم المستخدم</label>
                            <input type="text" name="username" class="input validation" placeholder="اسم المستخدم" :value="user.Username" required/>
                        </div>
                        <div class="field">
                            <label>البريد الإلكتروني</label>
                            <input type="email" name="email" class="input validation" placeholder="البريد الإلكتروني" :value="user.Email" required/>
                        </div>
                        <div class="field">
                            <label>كلمة المرور</label>
                            <input type="password" name="password" class="input" placeholder="يجب أن لا تقل عن 6 حروف" />
                        </div>
                        <div class="field">
                            <label>رقم الهاتف</label>
                            <input type="text" name="phone" class="input validation" placeholder="رقم الهاتف المحمول" :value="user.Phone" required/>
                        </div>
                        <div class="flex-cntr flex-end field field_btn">
                            <input type="submit" v-on:click.prevent="updateData" class="btn" value="حفظ">
                        </div>
                    </form>
                    <div id="LoadingData" v-if="loading">
                        <img src="/static/interface/images/cube-5663ab.svg">
                    </div>
                    <div id="LoadingAction">
                        <img src="/static/interface/images/cube-5663ab.svg">
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                loading: false,
                loadedData: false,
                user: {}
            }
        },
        created: function() {
            this.fetchData()
        },
        methods: {
            fetchData: function() {
                var self = this

                self.loading = true
                self.loadedData = false;

                axios.post('/api/user/me')
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.user = response.data.User;
                        self.loading = false
                        self.loadedData = true
                    }
                    if (response.data.StatusCode == "200#2") {
                        $("#me .box-content > *").hide();
                        $("#me .alert-notFound").fadeIn();
                        self.loading = false
                        self.loadedData = false
                    }
                })
                .catch(function (error) {
                    location.reload();
                });
            },
            updateData: function() {
                self = this;
                var isValid = true;
                var isEmpty = this.$options.filters.checkEmpty($("input.validation"), $("#me .alert-empty"));
                    
                $("#me .alert-update").fadeOut();

                if (isEmpty) {
                    $("#me .alert-existing").fadeOut();
                    isValid = false;
                }

                if (isValid) {
                    $("#me .box-content > *").hide();
                    $("#LoadingAction").fadeIn();

                    axios.post('/api/user/me/update', $("#updateMe").serialize())
                    .then(function (response) {
                        if (response.data.StatusCode == "200#1") {
                            self.user = response.data.User;
                            $("#userFullName").text(self.user.FullName);
                            $("#LoadingAction").hide()
                            $("#me .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#me .alert-update").fadeIn();
                        }
                    })
                    .catch(function (error) {
                        // location.reload();
                    });
                }
            }
        },
        watch: {
            '$route': 'fetchData'
        },
    }
</script>
