<template>
    <div class="cntr">
        <div id="errors-cntr">
            <div class="number">404</div>
            <div class="message">الصفحة المطلوبة غير موجودة!</div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>
