<template>
    <aside id="sign-in">
        <div class="cntr">
            <div class="logo">
                <img src="/static/interface/images/logo.png" alt="الهيئة العامة للاحصاء">
            </div>
            <div class="box-cntr">
                <div class="flex-cntr flex-spacebetween box-title">
                    <h2>
                        <i class="fa fa-key"></i>
                        <span>تسجيل الدخول</span>
                    </h2>
                </div>
                <div class="box-content">
                    <div class="alert alert-danger alert-empty">الرجاء تعبئة الحقول المطلوبة!</div>
                    <div class="alert alert-danger alert-incorrect">اسم المستخدم / البريد الإلكتروني أو كلمة المرور غير صحيحة!</div>
                    <form id="formLogin" class="form-cntr" method="POST">
                        <div class="field">
                            <label>اسم المستخدم</label>
                            <input type="text" name="username" class="input validation" placeholder="اسم المستخدم / البريد الإلكتروني" required/>
                        </div>
                        <div class="field">
                            <label>كلمة المرور</label>
                            <input type="password" name="password" class="input validation" placeholder="كلمة المرور" required/>
                        </div>
                        <div class="flex-cntr flex-end field field_btn">
                            <input type="submit" v-on:click.prevent="signIn" class="btn" value="دخول">
                        </div>
                    </form>
                    <div id="LoadingAction">
                        <img src="/static/interface/images/cube-5663ab.svg">
                    </div>
                </div>
            </div>
        </div>
    </aside>
</template>

<script>
    export default {
        methods: {
            signIn: function() {
                self = this;
                var isValid = true;
                var isEmpty = this.$options.filters.checkEmpty($("input.validation"), $("#sign-in .alert-empty"));

                if (isEmpty) {
                    $("#sign-in .alert-incorrect").fadeOut();
                    isValid = false;
                }

                if (isValid) {
                    $("#sign-in .box-content > *").hide();
                    $("#LoadingAction").fadeIn();

                    axios.post('/api/user/auth/sign-in', $("#formLogin").serialize())
                    .then(function (response) {
                        if (response.data.StatusCode == "200#2" || response.data.StatusCode == "200#3") {
                            $("#LoadingAction").hide()
                            $("#sign-in .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#sign-in .alert-incorrect").fadeIn();
                        }
                        if (response.data.StatusCode == "200#1") {
                            window.location = "/dashboard";
                        }
                    })
                    .catch(function (error) {
                        location.reload();
                    });
                }
            }
        }
    }
</script>
