<template>
    <aside id="sign-out">
        <div class="cntr">
            <div class="text-bye">وداعاً، ننتظر عودتك مجدداً ♥</div>
            <div class="text-return">جاري تسجيل الخروج، سيأخذ الأمر لحظات ...</div>
        </div>
    </aside>
</template>

<script>
    export default {
        created: function() {
            this.signOut()
        },
        methods: {
            signOut: function() {
                axios.post('/api/user/auth/sign-out')
                .then(function (response) {
                    window.location = "/sign-in";
                })
                .catch(function (error) {
                    location.reload();
                });
            }
        }
    }
</script>
