<template>
    <div class="cntr">
        <aside id="categories">
             <div class="box-cntr">
                <div class="flex-cntr flex-spacebetween box-title">
                    <h2>
                        <i class="fa fa-tag"></i>
                        <span>فئة جديدة</span>
                    </h2>
                </div>
                <div class="box-content">
                    <div class="alert alert-danger alert-empty">الرجاء تعبئة الحقول المطلوبة!</div>
                    <div class="alert alert-danger alert-existing">يوجد فئة مضافة بنفس الاسم!</div>
                    <div class="alert alert-success alert-create">تم إنشاء فئة جديدة بعنوان : {{ newCategory.Title }}</div>
                    <form id="createCategory" class="form-cntr" method="POST">
                        <div class="field">
                            <label>اسم الفئة</label>
                            <input type="text" name="title" class="input validation" placeholder="اسم الفئة الجديدة" required/>
                        </div>
                        <div class="flex-cntr flex-end field field_btn">
                            <input type="submit" v-on:click.prevent="createData" class="btn" value="حفظ">
                        </div>
                    </form>
                    <div id="LoadingAction">
                        <img src="/static/interface/images/cube-5663ab.svg">
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                newCategory: {
                    Title : null
                }
            }
        },
        methods: {
            createData: function() {
                self = this;
                var isValid = true;
                var isEmpty = this.$options.filters.checkEmpty($("input.validation"), $("#categories .alert-empty"));
                    
                $("#categories .alert-create").fadeOut();

                if (isEmpty) {
                    $("#categories .alert-existing").fadeOut();
                    isValid = false;
                }

                if (isValid) {
                    $("#categories .box-content > *").hide();
                    $("#LoadingAction").fadeIn();

                    axios.post('/api/categories/category/create', $("#createCategory").serialize())
                    .then(function (response) {
                        if (response.data.StatusCode == "200#2") {
                            $("#LoadingAction").hide()
                            $("#categories .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#categories .alert-existing").fadeIn();
                        }
                        if (response.data.StatusCode == "200#1") {
                            self.newCategory = response.data.Category;
                            $('#createUnit input.input').val('');
                            $("#LoadingAction").hide();
                            $("#categories .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#categories .alert-create").fadeIn();
                        }
                    })
                    .catch(function (error) {
                        location.reload();
                    });
                }
            }
        },
    }
</script>
