<template>
    <div class="cntr">
        <aside id="categories">
             <div class="box-cntr">
                <div class="flex-cntr flex-spacebetween box-title">
                    <h2>
                        <i class="fa fa-tag"></i>
                        <span>تعديل فئة</span>
                    </h2>
                </div>
                <div class="box-content">
                    <div class="alert alert-danger alert-empty">الرجاء تعبئة الحقول المطلوبة!</div>
                    <div class="alert alert-danger alert-existing">يوجد فئة مضافة بنفس الاسم!</div>
                    <div class="alert alert-danger alert-notFound">الفئة المطلوبة غير موجودة!</div>
                    <div class="alert alert-success alert-update">تم تعديل الفئة بنجاح</div>
                    <form id="updateCategory" class="form-cntr" method="POST" v-if="loadedData">
                        <div class="field">
                            <label>اسم الفئة</label>
                            <input type="text" name="title" class="input validation" placeholder="اسم الفئة الجديدة" :value="category.Title" required/>
                        </div>
                        <div class="flex-cntr flex-end field field_btn">
                            <input type="submit" v-on:click.prevent="updateData" class="btn" value="حفظ">
                        </div>
                    </form>
                    <div id="LoadingData" v-if="loading">
                        <img src="/static/interface/images/cube-5663ab.svg">
                    </div>
                    <div id="LoadingAction">
                        <img src="/static/interface/images/cube-5663ab.svg">
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data: function () {
            return {
                loading: false,
                loadedData: false,
                category: {}
            }
        },
        created: function() {
            this.fetchData()
        },
        methods: {
            fetchData: function() {
                var self = this

                self.loading = true
                self.loadedData = false;

                axios.post('/api/categories/category/' + self.id)
                .then(function (response) {
                    if (response.data.StatusCode == "200#1") {
                        self.category = response.data.Category;
                        self.loading = false
                        self.loadedData = true
                    }
                    if (response.data.StatusCode == "200#2") {
                        $("#categories .box-content > *").hide();
                        $("#categories .alert-notFound").fadeIn();
                        self.loading = false
                        self.loadedData = false
                    }
                })
                .catch(function (error) {
                    location.reload();
                });
            },
            updateData: function() {
                self = this;
                var isValid = true;
                var isEmpty = this.$options.filters.checkEmpty($("input.validation"), $("#categories .alert-empty"));
                    
                $("#categories .alert-update").fadeOut();

                if (isEmpty) {
                    $("#categories .alert-existing").fadeOut();
                    isValid = false;
                }

                if (isValid) {
                    $("#categories .box-content > *").hide();
                    $("#LoadingAction").fadeIn();

                    axios.post('/api/categories/category/' + self.id + '/update', $("#updateCategory").serialize())
                    .then(function (response) {
                        if (response.data.StatusCode == "200#2") {
                            $("#LoadingAction").hide()
                            $("#categories .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#categories .alert-existing").fadeIn();
                        }
                        if (response.data.StatusCode == "200#1") {
                            self.category = response.data.Category;
                            $("#LoadingAction").hide()
                            $("#categories .box-content > *").not('#LoadingAction').not('.alert').fadeIn();
                            $("#categories .alert-update").fadeIn();
                        }
                    })
                    .catch(function (error) {
                        location.reload();
                    });
                }
            }
        },
        watch: {
            '$route': 'fetchData'
        },
    }
</script>
